<div>
    <video src = section.settings.videoSrc> 
</div>

{% schema %}
{
  "name": "t:sections.featured-video.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
     {
         "type": "text",
         "id": "videoSrc",
        "default": "https://www.youtube.com",
         "label": "t:sections.featured-collection.settings.videoSrc.label"
     }
  ]
}
{% endschema %}
