<div >
    <video src ='{{section.settings.videoSrc}}'> </video>
</div>

{% schema %}
{
  "name": "t:sections.featured-video.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
     {
         "type": "text",
         "id": "videoSrc",
        "default": "https://www.youtube.com/watch?v=dIP7wWY4Znw",
         "label": "t:sections.featured-video.settings.videoSrc.label"
     }
  ],
  "presets": [
    {
      "videoSrc": "t:sections.featured-video.presets.videoSrc"
    }
}
{% endschema %}
