<div className='featured-video'>
    <video src = section.settings.videoSrc> </video>
</div>

{% schema %}
{
  "name": "featured-video",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
     {
         "type": "text",
         "id": "videoSrc",
        "default": "https://www.youtube.com/watch?v=dIP7wWY4Znw",
         "label": "t:sections.featured-collection.settings.videoSrc.label"
     }
  ]
}
{% endschema %}
